{% extends "rpslp/views/templates/base.html" %}
{% block content %}
  <p>Game content</p>
  <form method="POST" action="/game">
  	Pick your action:
  	<select id="action" name="action">
  		<option>Rock</option>
  		<option>Paper</option>
  		<option>Scissors</option>
  		<option>Lizard</option>
  		<option>Spock</option>
  	</select>
  	<p/><p/>
  	<input type="submit" value="Can you beat the computer?!?!"/>
 	<p/><p/>
 	<br>You picked {{action}}
 	<br>The computer picked {{computer-pick}}
  	<br>{{result}}
  </form>
{% endblock %}